<section class="p-2">
  <div class="text-white bg-dark px-3 py-2 d-flex justify-content-between">
    <h2>{{title}}</h2>
    <p class="mt-2">Posted by
      {{user.username}}
      on
      {{format_date createdAt}}</p>
  </div>
  <div class="border p-2">
    <p>{{content}}</p>
  </div>
</section>