<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Tech Blog</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid d-flex justify-content-start">
          <a class="navbar-brand" href="/">Home</a>
          <a class="navbar-brand" href="#">Dashboard</a>

          {{#if loggedIn}}
            <a class="navbar-brand" role="button" id="logout">Logout</a>
          {{else}}
            <a class="navbar-brand" href="/login">Login</a>
          {{/if}}

        </div>
      </nav>
      <h1 class="display-4">The Tech Blog</h1>
    </header>
    <main>
      <div>
        {{{body}}}
      </div>
    </main>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>