<form class="addForm">
  <div class="form-group p-2">
    <label for="titleInput">TITLE</label>
    <textarea class="form-control" id="title" rows="1"></textarea>
    <label for="contentInput">CONTENT</label>
    <textarea class="form-control" id="content" rows="6"></textarea>
    <button class="btn btn-primary mt-2" id="button1" value="update">Create post</button>
  </div>
</form>