<form class="addForm">
  <div class="form-group p-2">
    <label for="titleInput">TITLE</label>
    <textarea class="form-control" id="title" rows="1"></textarea>
    <label for="contentInput">CONTENT</label>
    <textarea class="form-control" id="content" rows="6"></textarea>
    <button type="submit" class="btn btn-primary mt-2">Create post</button>
  </div>
</form>

<script src="/js/add.js"></script>